# vim: ft=sh

# Check if eza exists and alias ls to eza
if command -v eza >/dev/null 2>&1; then
  alias ls=eza
fi

# Check if zoxide exists and alias cd to zoxide
if command -v zoxide >/dev/null 2>&1; then
  alias cd=z
fi

# Check if bat exists and alias cat to bat
if command -v bat >/dev/null 2>&1; then
  alias cat="bat --style=plain --paging=never"
  alias less='bat --paging=always'
fi

alias bathelp='bat --plain --language=help'
help() {
  "$@" --help 2>&1 | bathelp
}

source "$HOME/.aliases.common"
