name: Flake Check

on:
  pull_request:
    paths-ignore:
      - 'README.md'
  push:
    paths-ignore:
      - 'README.md'

jobs:
  flake-check:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Install Nix
      uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixos-unstable

    - name: Install Nix Linting and Formatting Tools
      run: nix-env -i statix nixpkgs-fmt -f '<nixpkgs>'

    - name: Run Statix Lint
      run: statix fix

    - name: Run Nix Format
      run: nix fmt

    - name: Nix Flake Check - Manual
      run: nix flake check

    - name: Nix Flake Checker
      uses: DeterminateSystems/flake-checker-action@v12

    - name: Commit
      uses: stefanzweifel/git-auto-commit-action@v7
      with:
        commit_message: "chore: apply flake auto lint/format"
        skip_checkout: true
